{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <h1><a href="{% url 'home' %}">HOME</a>
        <div class="navitem"><a href="#">{{user.username}}님의 냉장고</a></div>>
        <div class="navitem"><a href="{% url 'about' %}">ABOUT</a></div>
        <div class="navitem"><a href="{% url 'new' %}">NEW</a></div>>
        <div class="navitem"><a href="{% url 'recipe' %}">레시피</a></div>>
        <div class="navitem"><a href="{% url 'cohome' %}">커뮤니티</a></div>>
    </div>
    {% block content %}
    {% endblock content %}
</body>
</html>