{% extends 'base.html' %}
{% load static %}
    {% block content %}
    
    <div class = 'codetail'>
        <div class = 'codetail_content'>
            <div class = 'gg'>
                <h2>{{ copost.cotitle }}</h2>
                <h5>{{ copost.cocontents }}</h5>
            </div>
            <div class = 'made'>
                <img src="{% static 'jjj.jpg' %}" alt="">
            </div> 

        </div>
        <div class = 'codetail_return'>
            <a href="{% url 'cohome' %}">글 목록으로 돌아가기</a><br>
            <a href="{% url 'coedit' copost.pk %}">수정하기</a><br>
            <a href="{% url 'codelete' copost.pk %}">삭제하기</a>
        </div>
    </div>
{% endblock content %}

</body>

</html>
