{% extends 'base.html' %}
    {% block content %}
    <div class = 'dldl'>
    <div class = 'detail'>
        <div class = 'left'>
            <img src="{{ post.img.url }}" />

        </div>

        <div class = 'right'>
            <div class = "detail_name_box">
                <h1 class = 'detail_name' > {{ post.name }}<br>상세정보 </h1>
            </div>
            <div class="info">
                <h2>{{ post.name }}</h2>
                <h4>{{ post.family }}</h4>
                {% if exp_date >= 0 %}
                <h4>{{ exp_date }}일 남았습니다.</h4>
                {%else%}
                <h4>유통기한 만기</h4>
                {% endif %}
            </div>

            <div class="return">

                <a href="{% url 'edit' post.pk %}">게시물 수정하기</a><br>
                <a href="{% url 'delete' post.pk %}">게시물 삭제하기</a>
            </div>
        </div>
    </div>
    {% endblock %}

</body>
</html>