{% extends 'base.html' %}
{% block content %}  
    {%for post in posts%}
        <img src = "{{ post.img.url }}"/><br>        
        <h2><a href = "{%url 'detail' post.pk%} ">{{post.name}}</a><br>{{post.exp_date}}<br>{{post.family_choices}}</h2>
    {%endfor%}

    <form method = 'post' action = '#'>
    {% for %}
    <input type="checkbox" name="chk_info" value="{{}}">{{}}
    {% endfor %}
    <input type = 'submit' />
    </form>
{% comment %} 선택에 따라 chk_info 필드의 값이 결정된다. {% endcomment %}
{% endblock content %}
</body>
</html>